:root {
    --title-color: #221038;
}
.wrapper {
}
.section-title {
    color: var(--title-color);
    font-weight: 800;
    text-align: center;
    font-size: 2.8rem;
    margin-bottom: 32px;
    position: relative;
}
.primary-custom-btn {
    background-color: var(--primary-color);
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.6rem;
    height: 50px;
    padding: 12px 10px;
}
.primary-custom-btn + .primary-custom-btn {
    margin-left: 15px;
}
.banner-section {
    position: relative;
}

.banner-img {
    background: #e9e9e9;
    object-fit: contain;
    height: 540px;
    width: 100%;
}

// ABOUT US SECTION
.aboutUs-section {
    position: relative;
    padding: 60px 20px;
    align-items: center;
}
.aboutUs-content {
    position: relative;
    z-index: 11;
    width: 1170px;
    max-width: 100%;
    margin: auto;
    display: flex;
    gap: 20px 50px;
}

.aboutUs-img {
    height: 280px;
    width: 400px;
    object-fit: cover;
    border-radius: 5px;
}
// INTRODUCE SECTION
.models-section {
    padding: 40px 0;
    width: var(--default-layout-width);
    max-width: 100%;
    margin: auto;
}
.models-section .section-title::after {
    content: '';
    bottom: -12px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 80px;
    height: 2px;
    background-color: var(--primary-color);
}
.models-body {
    padding: 0 20px;
}
.model-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}
.model-name {
    font-weight: 700;
    color: var(--primary-color);
    line-height: 1;
    font-size: 1.8rem;
}
.model-image {
    height: 220px;
    width: 100%;
    object-fit: cover;
}
.models-btn {
    border-radius: 20px 0 0 20px;
    width: 115px;
    font-weight: 600;
}
.models-btn.right {
    border-radius: 0 20px 20px 0;
}
@media (max-width: 992px) {
    .banner-info {
        max-width: 90%;
    }
    .aboutUs-content {
        width: 720px;
    }
    .aboutUs-body {
        flex-direction: column-reverse;
    }
    .aboutUs-leftSide {
        padding: 0;
    }
    .aboutUs-img {
        max-width: 100%;
        height: auto;
        object-fit: contain;
    }
    .introduce-body {
        max-width: 720px;
        margin: auto;
    }
    .introduce-title {
        font-size: 2.2rem;
    }
    .introduce-info {
        font-size: 2rem;
    }
    .levelSelection-section {
        padding: 0 20px;
    }
    .levelSelection-img,
    .levelSelection-img.reflect {
        clip-path: none;
        height: auto;
        max-height: 520px;
    }
    .course-section,
    .mentor-section {
        padding: 50px;
    }
    .partner-img {
        height: 80px;
    }
}
@media (max-width: 767px) {
    .banner-subtitle {
        font-size: 2.6rem;
        padding: 0 5px;
    }
    .banner-info {
        font-size: 1.4rem;
    }
    .aboutUs-section {
        padding: 20px;
    }
    .aboutUs-content {
        flex-direction: column;
        align-items: center;
    }
    .models-section {
        padding: 20px 0;
    }
}
